{include file="base/base"/}
<div style="width: 90%;height: 500px;display:inline-block;margin-left: 200px;overflow: hidden">
    <div class="layui-card">
        <div class="layui-card-header">文章列表</div>
    </div>
    <table class="layui-table" style="margin-top: -15px">
        <colgroup>
            <col width="150">
            <col width="50">
            <col width="150">
            <col width="50">
            <col width="50">
            <col width="20">
            <col width="150">
        </colgroup>
        <thead>
        <tr>
            <th>标题</th>
            <th>分类</th>
            <th>简要</th>
            <th>创建时间</th>
            <th>更新时间</th>
            <th>是否可见</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name='data' id='vo'}
        <tr>
            <td>{$vo.title}</td>
            <td>{$vo.category_name}</td>
            <td>{$vo.content}</td>
            <td>{$vo.created}</td>
            <td>{$vo.update}</td>
            <td>{$vo.visitable}</td>
            <td>
                <a href="{:url('/edit/')}{$vo.id}" class="layui-btn layui-btn-normal admin-edit-btn">编辑</a>
                <button value="{$vo.id}" class="layui-btn layui-btn-danger admin-edit-btn">删除</button>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div id="page" style="text-align: center"></div>
</div>
<script>
    layui.use(['laypage'], function () {
        var laypage = layui.laypage;
        laypage.render({
            elem: 'page'
            , count: 70 //数据总数
            , first: false
            , last: false
        });
    });

    layui.use('layer', function () {
        let layer = layui.layer;
        $('.layui-btn-danger').on('click', function () {
            let id = $(this).val();
            layer.open({
                content: '确定要删除吗？',
                btn: ['确定', '取消'],
                yes: function () {
                    $.ajax({
                        type: 'post',
                        url: "{:url('/admin/deleteBlog')}",
                        data: {id: id},
                        success: function (result) {
                            if (result.success) {
                                window.location.reload();
                            } else {
                                layer.msg('删除失败');
                            }
                        }
                    })
                }
            });
        });
    });
</script>