body, th, td {
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

a:hover {
    color: #2e6da4 !important;
}

.header {
    height: 150px;
    position: relative;
    z-index: -1;
    background: #fafbfc;
}

.top-title {
    height: 100px;
    width: 500px;
    position: absolute;
    top: 50px;
    left: 200px;
    color: #3d7e9a;
}

.nav {
    height: 80px;
    width: 800px;
    margin: -50px auto 0;
}

.nav ul {
    height: 100%;
    width: 80%;
    text-align: center;
}

.nav li {
    margin-left: 40px;
    display: inline-block;
    font-size: 20px;
    color: #82C6E0;
    height: 25px;
    text-align: center;
}

.nav li:hover {
    border-bottom: 1px silver solid;
}

.main {
    height: 600px;
    width: 60%;
    position: absolute;
    left: 480px;
}

.row {
    font-size: 16px;
    margin: 25px 5px;
    line-height: 20px;
}

.row a {
    color: #3d7e9a;
}

.row i {
    position: absolute;
    left: -20px;
}

.description {
    margin-top: 5px;
    line-height: 20px;
    color: rgba(0, 0, 0, .5);
    height: 60px;
    text-align: justify;
    overflow: hidden;
}

.category {
    width: 200px;
    height: 600px;
    display: inline-block;
    position: absolute;
    left: 250px;
}

.category ul {
    width: 150px;
}

.category li {
    font-size: 1.333334em;
    line-height: 40px;
    border-left: 4px silver solid;
    text-align: center;
}

.category li a {
    color: rgba(0, 0, 0, .5);
}

.category-title {
    display: block;
    margin-bottom: 1.5em;
    font-size: 1.25em;
    font-weight: 400;
    color: rgba(0, 0, 0, .25);
}

.header-cate {
    width: 100px;
    font-size: 13px;
    color: silver;
    margin: 0 20px;
    vertical-align: middle;
}

.header-cate i {
    font-size: 10px;
    margin-right: 2px;
}

.header-time {
    font-size: 13px;
    color: silver;
    vertical-align: middle;
}

.header-time i {
    font-size: 15px;
    margin-right: 2px;
}

.content {
    color: #586069!important;
    font-size: 15px;
}

.detail-main {
    margin: 0 auto;
    width: 60%;
}

.admin-edit-btn {
    width: 40px;
    height: 25px;
    line-height: 25px;
    font-size: 10px;
    padding: 0
}

.article-block {
    display: inline-block;
    width: 60%;
    margin: 0 auto;
    position: absolute;
    left: 500px;
}

.login {
    width: 60px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 50px;
}

.login a {
    color: #586069 !important;
}

.setting {
    width: 60px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 110px;
}

.setting a {
    color: #586069 !important;
}