body{

}
.header{
    float: right;
    position: relative;
}
.main{
    border: 2px silver solid;
    width: 400px;
    height: 500px;
    border-radius: 4px;
    box-shadow: 0 0 5px silver;
    position: relative;
    float: right;
    top: 200px;
    right: 200px;
}