body {
    background: #fffffc !important;
}

.header {
    float: right;
    position: relative;
}

.main {
    border: 2px silver solid;
    width: 400px;
    height: 500px;
    border-radius: 4px;
    box-shadow: 0 0 5px silver;
    position: relative;
    float: right;
    top: 100px;
    right: 200px;
    background: #ffffff;
}

.input-group {
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
}

.title{
    width: 100%;
    height: 150px;
    text-align: center;
    line-height: 150px;
    font-size: 30px;
}

.login{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.login button{
    width: 90%;
    margin: 0 auto;
}

.user-tips{
    color: #ff7171;
    height: 15px;
    width: 90%;
    margin: 0 auto;
    vertical-align: middle;
    font-size: 12px;
}
