{include file="public:base"}
{include file="index:category"}
    <div class="markdown-body editormd-preview-container" style="padding: 20px; width: 90%;">
        <div class="article-block">
            <div style="font-size: 25px;color: #586069;">
                <span>{$data.title}</span>
            </div>
            <div class="layui-card-header">
                <span class="header-cate" style="margin-left: -5px"><i class="layui-icon layui-icon-note"></i>{$data.category_name}</span>
                <span class="header-time"><i class="layui-icon layui-icon-log"></i>{$data.created}</span>
            </div>
            <div class="article-content">
                <span class="content">{$data.content}</span>
            </div>
        </div>
    </div>
