<html>
<head>
    <meta charset="utf-8">
    <title>wksd</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__CSS__/base.css" media="all">
</head>
<body>
<div>
    {include file="public:header"}
    <div class="category">
        <div class="category-title">User Guide Category</div>
        {volist name="category" id="vo"}
        <ul>
            <li><a href="#">{$vo.name}</a></li>
        </ul>
        {/volist}
    </div>
    <div class="main">
        {volist name="data" id="vo"}
        <div class="row">
            <a class="link" href="detail/{$vo.id}"><h3>{$vo.title}</h3></a>
            <div class="description">{$vo.content}</div>
        </div>
        {/volist}
    </div>

    <script src="__STATIC__/layui/layui.js"></script>
    <script>
        layui.use(['laypage'], function () {
            var laypage = layui.laypage;
            laypage.render({
                elem: 'page'
                , count: 70 //数据总数
                , first: false
                , last: false
            });
        })
    </script>
    <!--{include file="public:footer"}-->
</div>
</body>
</html>