<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>大科同学｜Administer</title>
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
    <link rel="stylesheet" href="__CSS__/base.css">
    <link rel="stylesheet" href="__STATIC__/editormd/css/editormd.min.css">

    <script src="__STATIC__/jquery/dist/jquery.js"></script>
    <script src="__STATIC__/layui/layui.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header" style="height: 40px">
        <div class="layui-logo" style="line-height: 40px"><a href="{:url('/')}"><i class="layui-icon layui-icon-home" style="color: #fff;"> Home</i></a></div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item" style="line-height: 40px"><a href="{:url('index/login/login_out')}">Exit</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black" style="margin-top: -20px">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="{:url('@admin')}">首页</a>
                    <dl class="layui-nav-child">
                        <dd><a href="{:url('@admin/add-blog')}">创建文章</a></dd>
                        <dd><a href="{:url('@admin/edit')}">文章管理</a></dd>
                        <dd><a href="{:url('@admin/add-category')}">创建标签</a></dd>
                        <dd><a href="{:url('@admin/edit-category')}">标签管理</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('.layui-nav-child dd a').each(function () {
            if (this.href == window.location.href) {
                let sp = "<i style=\"float: right;\" class=\"layui-icon layui-icon-right\"></i>";
                $(this).append(sp);
            }
        })
    })
</script>