<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>大科同学</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<link rel="stylesheet" href="__CSS__/splendor.css">-->
    <link rel="stylesheet" href="__CSS__/base.css" media="all">
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__STATIC__/editormd/css/editormd.min.css" media="all">
    <script src="__STATIC__/jquery/dist/jquery.min.js"></script>
</head>
<body>
<div>
    {include file="public:header"}
</div>
</body>
</html>