<div class="header"></div>
<div class="top-title">
    <i class="layui-icon layui-icon-component" style="font-size: 28px;margin-right: 5px;color:#24292e"></i>大科同学
</div>
<div class="login-box">
    <i class="layui-icon layui-icon-release" style="font-size: 30px; color: #337ab7;"></i>
</div>

<div class="top-search">
    <input type="text" class="form-control" placeholder="Search for something">
</div>
<script>
    $(function () {
        $('.login-box').click(function () {
            window.location.href = "{:url('index/login/index')}";
        })
    })
</script>