<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <div class="search">
        <input type="text" placeholder="请输入内容..."><span title="搜索"><i class="layui-icon layui-icon-search"></i></span>
    </div>
</fieldset>

<div style="padding: 20px; background-color: #F2F2F2;" class="main">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12" >
            <div class="layui-card">
                <div class="layui-card-header"
                     style="height: 50px;font-size: 25px;line-height: 50px;font-family: Arial"><span class="header-title">PHP的简介</span>
                    <span class="header-cate"><i class="layui-icon layui-icon-note"></i>php</span><span class="header-time"><i class="layui-icon layui-icon-date"></i>2017年7月6日</span>
                </div>
                <div class="layui-card-body" style="height: 70px;font-size: 18px; overflow: hidden">
                    <span class="row-cont">PHP（外文名:PHP: Hypertext
                    Preprocessor，中文名：“超文本预处理器”）是一种通用开源脚本语言。语法吸收了C语言、Java和Perl的特点，利于学习，使用广泛，主要适用于Web开发领域。PHP
                    独特的语法混合了C、Java、Perl以及PHP自创的语法。它可以比CGI或者Perl更快速地执行动态网页。用PHP做出的动态页面与其他的编程语言相比，PHP是将程序嵌入到HTML（标准通用标记语言下的一个应用）文档中去执行，执行效率比完全生成HTML标记的CGI要高许多；PHP还可以执行编译后代码，编译可以达到加密和优化代码运行，使代码运行更快。</span>
                    <span class="more"><a href="">查看原文>></a></span>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12" >
            <div class="layui-card">
                <div class="layui-card-header"
                     style="height: 50px;font-size: 25px;line-height: 50px;font-family: Arial"><span class="header-title">layui</span>
                    <span class="header-cate"><i class="layui-icon layui-icon-note"></i>php</span><span class="header-time"><i class="layui-icon layui-icon-date"></i>2017年7月6日</span>
                </div>
                <div class="layui-card-body" style="height: 70px;font-size: 18px; overflow: hidden">
                    <span class="row-cont">layui，是一款采用自身模块规范编写的前端 UI 框架，遵循原生 HTML/CSS/JS 的书写与组织形式，门槛极低，拿来即用。其外在极简，却又不失饱满的内在，体积轻盈，组件丰盈，从核心代码到 API 的每一处细节都经过精心雕琢，非常适合界面的快速开发。layui 首个版本发布于2016年秋，她区别于那些基于 MVVM 底层的 UI 框架，却并非逆道而行，而是信奉返璞归真之道。准确地说，她更多是为服务端程序员量身定做，
                        你无需涉足各种前端工具的复杂配置，只需面对浏览器本身，让一切你所需要的元素与交互，从这里信手拈来。</span>
                    <span class="more"><a href="">查看原文>></a></span>
                </div>
            </div>
        </div>
    </div>
    <div id="page" class="page"></div>
</div>

<script src="__STATIC__/layui/layui.js"></script>
<script>
    layui.use(['laypage'], function () {
        var laypage = layui.laypage;
        laypage.render({
            elem: 'page'
            , count: 70 //数据总数
            , first: false
            , last: false
        });
    })
</script>

